RewriteEngine On
RewriteBase /

RewriteCond %{HTTP_HOST} !^www. [NC]
RewriteCond %{HTTP_HOST} ^(.+)$ [NC]
RewriteRule ^(.*)$ http://www\.%1/$1 [R=301,L]


RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule (.*)? - [S=2] # Skip the below 2 lines if file or directory
# taxon
RewriteRule  ^taxon/([0-9]*)/([A-Za-z\w\-]*)/?.*$ index.php?taxon_id=$1&taxon_name=$2&page_type=taxon [L,QSA]
#page 
RewriteRule ^([A-Za-z_]*)/?([A-Za-z_]*) index.php?page_type=page&url_part_1=$1&url_part_2=$2 [QSA,L]